  <!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or 'QuizMaster' }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="page-wrapper">
        <header class="header">
            <div class="container">
                <img src="{{ url_for('static', filename='images/logo-mini-without (1).png') }}" class="mephi"/>
                <a href="{{ url_for('main.index') }}" class="logo">платформа для онлайн-тестирований</a>
                <nav class="nav">
                    {% if current_user.is_authenticated %}
                        <span class="username">{{ current_user.username }}</span>
                        <a href="{{ url_for('auth.logout') }}" class="btn">Выйти</a>
                    {% else %}
                        <a href="{{ url_for('auth.login') }}" class="nav-link">Войти</a>
                        <a href="{{ url_for('auth.register') }}" class="btn btn-primary">Зарегистрироваться</a>
                    {% endif %}
                </nav>
            </div>
        </header>

        <main class="main-content">
            <div class="container">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                            <span class="close-btn">&times;</span>
                        </div>
                    {% endfor %}
                {% endwith %}

                {% block content %}{% endblock %}
            </div>
        </main>

        <footer class="footer">
            <div class="container">
                <p>&copy; 2025 гр. Б23-302, Б22-302</p>
            </div>
        </footer>
    </div>
</body>
</html>
